* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #012b65;
}

.container p {
  display: inline-block;
  color: white;
  margin-left: 187px;
  margin-right: -151px;
  margin-top: 12px;
  margin-bottom: 11px;
}

.container a {
  color: white;
  text-decoration: none;
}

.active {
  color: #002b64;
}

.nav {
  display: inline-block;
  background-color: white;
  height: 67px;
  width: 101%;
  overflow: hidden;
}

.nav ul {
  display: inline-block;
  list-style-type: none;
  padding-top: 29px;
}

.nav ul li {
  float: left;

}

.nav ul li a {
  font-size: 16px;
  padding: 10px;
  color: gray;
  margin-left: -81px;
  text-decoration: none;
  margin-right: 80px;

}

.vtalk {
  background-color: white;
  width: 30%;
  margin-top: -20px;
  position: inherit;
  margin-left: 12px;
  padding-left: 144px;
}


fieldset {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  width: 349px;
  background-color: #FFCC01;
  margin-top: -416px;
  margin-left: 910px;
  padding: 26px;
  margin-bottom: 95px;
  height: 443px;
}

input {
  font-size: 15px;
  padding: 14px;
  border-left: 10px solid #FFCC01;
}

.fieldset {
  box-sizing: border-box;
  border: 1px solid black;
  width: 349px;
  text-align: center;
  margin-left: 910px;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  margin-bottom: 50px;
  height: 335px;
  margin-top: -431px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

select {
  font-size: 15px;
  padding: 14px;
  width: 233px;
  border-left: 10px solid #FFCC01;
}

input[type=submit] {
  font-size: 15px;
  padding: 12px;
  border: 1px solid #002B64;
  background-color: #002B64;
  color: white;
  width: 100px;
  margin-top: 10px;
  margin-left: 129px;
  border-radius: 5px;
}

.column {
  float: left;
  width: 20%;
  color: #2EA3F2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column a {
  color: #2EA3F2;
  text-decoration: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.smile {
  background-color: #002b64;
  height: 214px;
  width: 100%;
  margin-left: -13px;
  padding-top: 20px;
  line-height: 28px;
  margin-top: -3px;
  padding-left: 25px;
}

.column {
  float: left;
  width: 17%;
  color: #2EA3F2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 32px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  width: 209px;
  display: block;
  padding: 11px;
  margin-left: 5px;
  margin-top: 18px;
}

.icons3 a {
  float: left;
  width: 30px;
  padding-left: 10px;
  margin-left: 5px;
}

.face1 {
  width: 38px;
  padding: 9px;
}

.rat1 {
  margin-top: 109px;
  margin-left: 126px;
}

body {
  background-color: #e7e7e7;
}

@media (max-width:380px) {
  body{
    position: ;
}
  .container {
    background-color: #012b65;
    display: block;
    
    padding-top: 2px;
    padding-bottom: 5px;
    margin-left: -3pc;
    margin-right: -1pc;
    line-height: 7px;
  }

  .container p {
    display: block;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-left: -155px;
  }

  .container a {
    color: white;
    text-decoration: none;

  }

  .vtalk {
    background-color: white;
    width: 112%;
    padding-right: -86px;
    margin-left: -2px;
    position: inherit;
    padding-left: 0px;
    margin-top: -29px;
    padding-bottom: 12px;
  }


.nav {
  display: unset;
  background-color: white;
  height: 63px;
  overflow: hidden;
}

.nav ul li a {
  font-size: 15px;
  padding: -29px;
  padding: 26px;
  color:#002B64;
  margin-left: -16px;
  text-decoration: none;
  margin-right: -24px;
}
.nav ul li {
  float: left;
  line-height: 26px;
}

body {
  background-color: white;
}
.rat1 {
  margin-top: 23px;
    margin-left: 36px;
}
.rat1 iframe{
  width: 300px;
  height: 500px;
}
fieldset {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  width: 296px;
  background-color: #FFCC01;
  margin-top: 22px;
  margin-left: 36px;
  padding: 26px;
  margin-bottom: 95px;
  height: 453px;
}
fieldset p{
  color: #012b65;
  font-size: 15px;
}
fieldset h2{
  color: #012b65;
  font-size: 19px;
    margin-top: 10px;
}
.fieldset {
  box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    width: 296px;
    background-color: white;
    margin-top: -439px;
    margin-left: 36px;
    padding: 26px;
    border-top: hidden;
    border-top-left-radius: none;
    margin-bottom: 95px;
    height: 344px;
}
input {
    font-size: 15px;
    padding: 14px;
    border-left: 10px solid #FFCC01;
}
.input5 {
  background-color: #FCE4A3;
  height: 41px;
  width: 318px;
  margin-top: 1418px;
  padding: 18px;
  text-align: center;
  margin-left: -9px;
  margin-bottom: 30px;
}

.input5 input[type=submit] {
  font-size: 17px;
  padding: 5px;
  border: 1px solid #002b64;
  background-color: #002b64;
  color: white;
  border-radius: 5px;
}

.footer {
  width: 290px;
  display: block;
  padding: 11px;
  margin-left: -11px;
  margin-top: -385px;
}

.icons2 a {
  float: left;
  padding-left: 24px;
  width: 44px;
  margin-left: -8px;
  margin-top: 28px;
}

.smile {
  background-color: #002b64;
  height: 695px;
  width: 100%;
  margin-left: -15px;
  padding-top: -30px;
  padding-top: 410px;
  line-height: 29px;
  margin-top: 13px;
  padding-left: 22px;
}

.column {
  float: left;
  width: 25%;
  padding-top: -30px;
  color: #2EA3F2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5px;
  line-height: 25px;
}


}