* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.nav {
    display: inline-block;
    background-color: white;
    height: 63px;
    width: 76%;
    overflow: hidden;
}

.nav ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 29px;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    font-size: 16px;
    padding: 10px;
    color: gray;
    text-decoration: none;

}

.vtalk {
    background-color: white;
    width: 40%;
    margin-top: -20px;
    position: inherit;
    margin-left: 45px;
}

.logo {
    width: 20%;
    height: 2px;
}

.h {
    margin-top: 36px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 22px;
    font-size: 21px;
}

.h2 {
    margin-top: 36px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 22px;
    font-size: 21px;
}

.div-img::after {
    content: "";
    clear: both;
    display: table;
}

.img {
    display: inline-block;
    box-sizing: border-box;
    width: 281px;
    height: 164px;
    margin-left: 42px;
    margin-top: -31px;
    padding-top: 43px;
}

.color {
    background-color: #FFCC01;
    margin-top: -1px;
    margin-bottom: 19px;
    padding-bottom: 51px
}

.cul {
    background-color: #eee;
    margin-top: -5px;
    padding-bottom: 58px;
}

.ck {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
}

.k2 {
    margin-top: 15px;
    background-color: #ffcc01;
    color: black;
    text-align: center;

}

.top {
    margin-top: 20px;
}

.dk {
    margin-top: 21px;
}

.vodeo {
    display: flex;
    margin-top: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.k {
    text-align: center;
    margin-top: 27px;
}

.v {
    margin-top: 27px;
    text-align: center;
}

.i {
    margin-top: 30px;
    margin-left: 105px;
}

.footer {
    width: 221px;
    display: block;
    padding: 11px;
    margin-left: 111px;
    margin-top: 43px;
}

.column {
    float: left;
    width: 20%;
    color: #2EA3F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.smile {
    background-color: #002b64;
    height: 260px;
    width: 100%;
    padding-top: 20px;
    line-height: 28px;
    margin-top: 23px;
}

.column {
    float: left;
    width: 20%;
    color: #2EA3F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column a {
    color: #2EA3F2;
    text-decoration: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    width: 193px;
    display: block;
    padding: 11px;
    margin-left: 25px;
    margin-top: 18px;
}

.last {
    background-color: black;
    color: gray;
    padding-left: 164px;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.hero {
    position: inherit;
    margin-top: 0px;
}

.container {
    background-color: #012b65;
}

.container p {
    display: inline-block;
    color: white;
    margin-left: 187px;
    margin-right: -151px;
    margin-top: 12px;
    margin-bottom: 11px;
}

.container a {
    color: white;
    text-decoration: none;
}

.active {
    color: #002b64;
}

.universty {
    margin-top: 15px;
    background-color: #ffcc01;
    color: #181D23;
    padding: 20px;
    margin-right: -20px;
    text-align: center;
    font-size: 21px;
}

.unico {
    width: 100%;
}

.dico {
    width: 22%;
    border: 10px solid #002b64;
    float: left;
    margin-top: 31px;
    margin-left: 5px;
    margin-right: 15px;
}

form {
    width: 24%;
    margin-left: 120px;
}

.fieldset1 {
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    width: 306px;
    border-radius: 5px;
    background-color: #002b64;
    position: absolute;
    margin-left: 937px;
    padding: 26px;
    margin-bottom: 50px;
    height: 419px;
    margin-top: -373px;

}

.input {
    font-size: 15px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.submit {
    width: 228px;
    background-color: #FFCC33;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    padding: 11px;
}

.backgroundimg img {
    position: inherit;
}

.Course {
    margin-top: 379px;
    background-color: #002b64;
    color: white;
    padding: 8px;
    margin-right: -20px;
    text-align: center;
    font-size: 21px;
}

.courses {
    width: 100%;
}

.sec {
    width: 22%;
    float: left;
    margin-top: 26px;
    margin-left: 44px;
    margin-right: -20px;
}

.digree {
    margin-top: 16px;
    background-color: #ffcc01;
    color: #181D23;
    padding: 6px;
    margin-right: -20px;
    text-align: center;
    font-size: 15px;
}

.graduation {
    width: 100%;
}

.grade {
    width: 22%;
    float: left;
    margin-top: 26px;
    margin-left: 44px;
    margin-right: -20px;
}

.unic {
    margin-top: 22pc;
    background-color: #ffcc01;
    color: #181D23;
    padding: 5px;
    margin-right: -20px;
    text-align: center;
    font-size: 19px;
}

.mute {
    width: 20%;
    border: 10px solid #002b64;
    float: left;
    margin-top: 33px;
    padding: 32px;
    margin-left: 73px;
    padding-top: 0px;
}

.professional {
    margin-top: 21pc;
    background-color: #ffcc01;
    color: #181D23;
    padding: 7px;
    margin-right: -20px;
    text-align: center;
    font-size: 15px;
}

.master {
    width: 100%;
}

.mas {
    width: 22%;
    float: left;
    margin-top: 26px;
    margin-left: 44px;
    margin-right: -20px;
}

.star {
    margin-top: 21pc;
    background-color: #ffcc01;
    color: #181D23;
    padding: 7px;
    margin-right: -20px;
    text-align: center;
    font-size: 15px;
}


.footer5 {
    background-color: #F8C846;
    margin: 30px;
    text-align: center;
    font-size: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #323536;
}

.footer1 {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 37px;
    margin-left: 104px;
    float: left;
    border: 1px solid #DEDEDE;
    background-color: #DEDEDE;
    height: 294px;
    width: 586px;
    color: #202124;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-align: justify;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1mm;

}

.foot0 {
    float: left;
    text-align: left;
    font-size: 15px;
    padding-right: 20px;
    margin-left: -1px;
    padding-left: 36px;
    width: 494px;
    margin-top: 27px;
    height: 235px;
}

.footer2 {
    box-sizing: border-box;
    padding: -22px;
    margin-top: -623px;
    margin-left: 745px;
    float: left;
    border: 1px solid #DEDEDE;
    background-color: #DEDEDE;
    height: 192px;
    width: 586px;
    color: #202124;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-align: justify;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1mm;
}

.foot1 p {
    margin-top: 26px;
    height: 207px;
    margin-left: 40px;
    width: 531px;
    padding-top: -34px;
    text-align: left;
    font-size: 15px;
}

.footer3 {
    box-sizing: border-box;
    padding: 15px;
    margin-top: -390px;
    margin-left: 745px;
    float: left;
    border: 1px solid #DEDEDE;
    background-color: #DEDEDE;
    height: 294px;
    width: 586px;
    color: #202124;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-align: justify;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1mm;

}

.foot2 {
    margin-top: 18px;
    height: 300px;
    padding: 10px;
    width: 550px;
    text-align: left;
    font-size: 15px;
}

.footer4 {
    box-sizing: border-box;
    padding: 15px;
    margin-top: -55px;
    margin-left: 745px;
    float: left;
    border: 1px solid #DEDEDE;
    background-color: #DEDEDE;
    height: 237px;
    width: 586px;
    color: #202124;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-align: justify;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1mm;

}

.foot3 {
    margin-top: 9px;
    height: 246px;
    margin-left: 35px;
    width: 487px;
    text-align: left;
    font-size: 15px;
}

.acording {
    margin-top: 28pc;
    background-color: #ffcc01;
    color: #181D23;
    padding: 12px;
    margin-right: -20px;
    text-align: center;
    font-size: 20px;
}

.input5 {
    background-color: #FCE4A3;
    height: 41px;
    margin-top: 843px;
    padding: 30px;
    text-align: center;
    width: 1299px;
    margin-left: -9px;
    margin-bottom: 30px;
}

.input5 input[type=submit] {
    font-size: 17px;
    padding: 10px;
    border: 1px solid #002b64;
    background-color: #002b64;
    color: white;
    border-radius: 5px;
}


.column {
    float: left;
    width: 20%;
    color: #2EA3F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column a {
    color: #2EA3F2;
    text-decoration: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.smile {
    background-color: #002b64;
    height: 222px;
    width: 100%;
    margin-left: -13px;
    padding-top: 20px;
    line-height: 28px;
    margin-top: 14px;
    padding-left: 25px;
}

.column {
    float: left;
    width: 17%;
    color: #2EA3F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 32px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    width: 209px;
    display: block;
    padding: 11px;
    margin-left: 5px;
    margin-top: 18px;
}

.icons2 a {
    float: left;
    width: 30px;
    padding-left: 10px;
    margin-left: 5px;
}

.face1 {
    width: 38px;
    padding: 9px;
}

@media (max-width:380px) {
    body{
        top:0;
        left:0;
        bottom:0;
        position:absolute;
        overflow-y:scroll;
        overflow-x:hidden;
    }

    .container {
        background-color: #012b65;
        display: block;
        padding-top: 2px;
        padding-bottom: 5px;
        margin-left: -3pc;
        margin-right: 0pc;
        line-height: 7px;
    }

    .container p {
        display: block;
        color: white;
        font-size: 14px;
        text-align: center;
        margin-left: -155px;
    }

    .container a {
        color: white;
        text-decoration: none;

    }

    .vtalk {
        background-color: white;
        width: 97%;
        position: inherit;
        padding-left: 26px;
    }

    .nav {
        display: unset;
        background-color: white;
        height: 63px;
        overflow: hidden;
    }

    .nav ul li {
        line-height: 10px;
        float: left;
        margin-right: -4px;
        flex-direction: column;
        margin-left: 0px;
        padding: 8px;
    }

    .nav ul li a {
        font-size: 14px;
        padding: 0px;
        color:#002b64;
        text-decoration: none;
    }


    .backgroundimg img {
        position: inherit;
        margin-top: 12px;
        margin-right: 0pc;
    }

    form {
        width: -7%;
        margin-top: 24pc;
        margin-left: -909px;
    }

    .universty {
        margin-top: 40px;
        background-color: #ffcc01;
        color: #181D23;
        margin-right: 1px;
        text-align: center;
        padding-left: 2px;
        font-size: 13px;
    }


    .Course {
        margin-top: 98pc;
        background-color: #002b64;
        color: white;
        margin-right: 1px;
        padding: 25px;
        text-align: center;
        font-size: 13px;
    }

    .dico {
        border: none;
        float: left;
        margin-left: 21px;
        width: 91%;
    }

    .digree {
        margin-top: 1pc;
        background-color: #ffcc01;
        color: #181D23;
        margin-right: 1px;
        padding: 10px;
        text-align: center;
        font-size: 13px;
    }

    .sec {
        float: left;
        margin-left: 21px;
        width: 91%;
    }

    .star {
        margin-top: 93pc;
        background-color: #ffcc01;
        color: #181D23;
        margin-right: 1px;
        padding: 10px;
        text-align: center;
        font-size: 13px;
    }

    .grade {
        float: left;
        margin-left: 21px;
        width: 91%;
    }

    .professional {
        margin-top: 94pc;
        background-color: #ffcc01;
        color: #181D23;
        margin-right: 1px;
        padding: 10px;
        text-align: center;
        font-size: 13px;
    }

    .mas {
        float: left;
        margin-left: 21px;
        width: 91%;
    }

    .unic {
        margin-top: 94pc;
        background-color: #ffcc01;
        color: #181D23;
        margin-right: 1px;
        padding: 10px;
        text-align: center;
        font-size: 13px;
    }

    .mute {
        float: left;
        margin-left: 29px;
        width: 62%;
    }

    .acording {
        margin-top: 64pc;
        background-color: #ffcc01;
        color: #181D23;
        margin-right: 1px;
        padding: 10px;
        margin-right: 26px;
        text-align: center;
        font-size: 13px;
    }

    .footer1 {
        box-sizing: border-box;
        padding: 12px;
        margin-top: 16px;
        margin-left: 13px;
        float: left;
        border: 1px solid #DEDEDE;
        background-color: #DEDEDE;
        height: 263px;
        width: 287px;
        color: #202124;
        font-family: arial, sans-serif;
        font-size: 10px;
        text-align: justify;
        line-height: 16px;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 1mm;
    }

    .input5 {
        background-color: #FCE4A3;
        height: 41px;
        width: 350px;
        margin-top: 1418px;
        padding: 18px;
        text-align: center;
        margin-left: -9px;
        margin-bottom: 30px;
    }

    .input5 input[type=submit] {
        font-size: 17px;
        padding: 5px;
        border: 1px solid #002b64;
        background-color: #002b64;
        color: white;
        border-radius: 5px;
    }

    .footer {
        width: 290px;
        display: block;
        padding: 11px;
        margin-left: 1px;
        margin-top: -385px;
    }

    .icons2 a {
        float: left;
        padding-left: 24px;
        width: 44px;
        margin-left: -8px;
        margin-top: 28px;
    }

    .smile {
        background-color: #002b64;
        height: 695px;
        width: 100%;
        margin-left: -15px;
        padding-top: -30px;
        padding-top: 410px;
        line-height: 29px;
        margin-top: 13px;
        padding-left: 22px;
    }

    .column {
        float: left;
        width: 25%;
        padding-top: -30px;
        color: #2EA3F2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 5px;
        line-height: 25px;
    }

    .footer1 {
        box-sizing: border-box;
        padding: 10px;
        margin-top: 16px;
        margin-left: 24px;
        float: left;
        border: 1px solid #DEDEDE;
        background-color: #DEDEDE;
        height: 290px;
        width: 326px;
        color: #202124;
        font-family: arial, sans-serif;
        font-size: 13px;
        text-align: justify;
        line-height: 15px;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 1mm;
    }

    .foot0 {
        float: left;
        text-align: left;
        font-size: 13px;
        padding-right: 14px;
        margin-left: -1px;
        padding-left: 10px;
        width: 272px;
        margin-top: 27px;
        height: 224px;
    }

    .footer2 {
        box-sizing: border-box;
        padding: -22px;
        margin-top: 1pc;
       margin-left: 25px;
        float: left;
        border: 1px solid #DEDEDE;
        background-color: #DEDEDE;
        height: 219px;
        width: 323px;
        color: #202124;
        font-family: arial, sans-serif;
        font-size: 13px;
        text-align: justify;
        line-height: 18px;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 1mm;
    }

    .foot1 p {
        margin-top: 26px;
        height: 213px;
        margin-left: 13px;
        width: 274px;
        padding-top: -34px;
        text-align: left;
        font-size: 13px;
    }

    .footer3 {
        box-sizing: border-box;
        padding: 15px;
        margin-top: 1pc;
        margin-left: 15px;
        float: left;
        border: 1px solid #DEDEDE;
        background-color: #DEDEDE;
        height: 294px;
        width: 323px;
        color: #202124;
        font-family: arial, sans-serif;
        font-size: 13px;
        text-align: justify;
        line-height: 16px;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 1mm;
    }

    .foot2 {
        margin-top: -17px;
        height: 300px;
        padding: 10px;
        width: 265px;
        margin-left: -12px;
        text-align: left;
        font-size: 13px;
    }

    .footer4 {
        box-sizing: border-box;
        padding: 15px;
        margin-top: 1pc;
        margin-left: 15px;
        float: left;
        border: 1px solid #DEDEDE;
        background-color: #DEDEDE;
        height: 237px;
        width: 323px;
        color: #202124;
        font-family: arial, sans-serif;
        font-size: 13px;
        text-align: justify;
        line-height: 16px;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 1mm;
    }

    .foot3 {
        margin-top: -10px;
        height: 246px;
        margin-left: -7px;
        width: 286px;
        text-align: left;
        font-size: 13px;
    }
}